{% extends "django_energysystem_viewer/base.html" %}

{% load static %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <h3>Aggregation Graph</h3>
    <form id="aggregation_form">
      <label for="lod">Choose the desired level of detail:</label>
      <input type="radio" id="lod" name="lod" value=1>
      <label for="lod">1</label>
      <input type="radio" id="lod" name="lod" value=2 checked>
      <label for="lod">2</label>
      <input type="radio" id="lod" name="lod" value=3>
      <label for="lod" style="margin-right: 100px;">3</label>
      <input type="hidden" name="structure" value="{{ structure_name }}" />
      <label for="sectors">Choose Sector:</label>
      <input type="radio" id="sectors" name="sectors" value="pow" checked>
      <label for="sectors">Power</label>
      <input type="radio" id="sectors" name="sectors" value="x2x">
      <label for="sectors">X2X</label>
      <input type="radio" id="sectors" name="sectors" value="hea">
      <label for="sectors">Heat</label>
      <input type="radio" id="sectors" name="sectors" value="ind">
      <label for="sectors">Industry</label>
      <input type="radio" id="sectors" name="sectors" value="tra">
      <label for="sectors" style="margin-right: 100px;">Transport</label>
    </form>
    <div style="position: relative;">
      <div id="aggregation_graph" style="width: auto; height: 900px"></div>
      <button id="download_button" style="position: absolute; top: 10px; left: 0px">
        Download processes from all sectors for level of detail
      </button>
    </div>
    <div id="legend" style="position: absolute; top: 120px; right: 300px; padding: 10px; border: 1px solid #ccc; background-color: #fff; border-radius: 5px;">
    <!-- Legend content will be dynamically inserted here -->
    </div>

  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static "django_energysystem_viewer/libs/htmx.min.js" %}"></script>
  <script src="{% static 'vendors/cytoscape/js/cytoscape.min.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const cy = cytoscape({
            container: document.getElementById('aggregation_graph'),
            style: [
              { selector: 'node', style: {'label': 'data(id)', 'font-size': '100', 'width': '75', 'height': '75'} },
              { selector: '.aggregation_level_1', style: {'background-color': 'green'} },
              { selector: '.aggregation_level_2', style: {'background-color': 'blue'} },
              { selector: '.aggregation_level_3', style: {'background-color': 'red'} },
              { selector: '.collapsed', style: {'background-color': 'orange'} },
              { selector: '.aggregation_step_1', style: {'line-color': 'green'} },
              { selector: '.aggregation_step_2', style: {'line-color': 'blue'} },
              { selector: '.aggregation_step_3', style: {'line-color': 'red'} },
            ],
            elements: []
        });

        const aggregation_form = document.getElementById("aggregation_form");
        aggregation_form.addEventListener("change", updateAggregationGraph);

        function updateAggregationGraph() {
            console.log("Get aggregation data")
            const formData = new FormData(aggregation_form);
            const url = "/energysystem/aggregation_graph";

            // Append form data to URL
            const queryString = new URLSearchParams(formData).toString();
            var requestUrl = url + "?" + queryString;

            fetch(requestUrl)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data);
                    cy.elements().remove(); // Clear existing elements first
                    cy.add(data.elements);  // Add new nodes and edges
                    cy.layout({
                        name: 'preset',
                        fit: true
                    }).run();
                    cy.fit(); // This will automatically zoom out to fit all elements
                    cy.resize(); // This ensures the viewport is recalculated in case of container size changes
                })
                .catch(error => console.error('Error requesting aggregation data:', error));
        }

        const download_button = document.getElementById("download_button");
        download_button.addEventListener("click", function() {
            const formData = new FormData(aggregation_form);
            const url = "/energysystem/lod_list";

            // Append form data to URL
            const queryString = new URLSearchParams(formData).toString();
            var downloadUrl = url + "?" + queryString;

            window.location.href = downloadUrl;
            });
    });

    document.addEventListener("DOMContentLoaded", function() {
    const legendData = {
        'pow': [
            { text: 'renewable type', color: 'blue' },
            { text: 'fuel/potential type', color: 'green' }
        ],
        'x2x': [
            { text: 'technology type', color: 'green' }
        ],
        'hea': [
            { text: 'technology type', color: 'blue' },
            { text: 'building types', color: 'green' },
        ],
        'ind': [
            { text: 'process route', color: 'brown' }
        ],
        'tra': [
            { text: 'fuel type', color: 'red' },
            { text: 'vehicle size', color: 'blue' },
            { text: 'distance type', color: 'green' }
        ]
    };

    const sectorNames = {
        'pow': 'Power',
        'x2x': 'X2X',
        'hea': 'Heat',
        'ind': 'Industry',
        'tra': 'Transport'
    };

    const legendContainer = document.getElementById("legend");

    function updateLegend(sector) {
        const sectorFullName = sectorNames[sector];
        legendContainer.innerHTML = `<strong>Aggregations ${sectorFullName} Sector</strong><br>`;
        legendData[sector].forEach(item => {
            legendContainer.innerHTML += `<span style="color: ${item.color};">${item.text}</span><br>`;
        });
    }

    const aggregation_form = document.getElementById("aggregation_form");
    aggregation_form.addEventListener("change", function() {
        const sector = document.querySelector('input[name="sectors"]:checked').value;
        updateLegend(sector);
        updateAggregationGraph();
    });

    // Initialize the legend with the default sector
    updateLegend(document.querySelector('input[name="sectors"]:checked').value);
});



  </script>
{% endblock javascript %}
