{% extends "django_energysystem_viewer/base.html" %}

{% load static %}

{% block content %}
  {{ block.super }}
  <div class="container aggregation">
    <h1 class="d-flex align-items-center">
      <svg width="32" height="32" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="67" cy="67" r="66" fill="#DDDCF3"/>
        <rect x="85.9707" y="76.6569" width="16" height="16" transform="rotate(45 85.9707 76.6569)" stroke="black" stroke-width="8"/>
        <rect x="43.9707" y="76.6569" width="16" height="16" transform="rotate(45 43.9707 76.6569)" stroke="black" stroke-width="8"/>
        <rect x="85.9707" y="53.6569" width="16" height="16" transform="rotate(45 85.9707 53.6569)" stroke="black" stroke-width="8"/>
        <rect x="43.9707" y="54.6569" width="16" height="16" transform="rotate(45 43.9707 54.6569)" stroke="black" stroke-width="8"/>
        <rect x="85.9707" y="30.6569" width="16" height="16" transform="rotate(45 85.9707 30.6569)" stroke="black" stroke-width="8"/>
      </svg>
      <span class="ms-3">
        Aggregation Graph
      </span>
    </h1>
    <section class="aggregation__options">
      <form id="aggregation_form">
        <label for="lod" class="pe-1">Desired level of detail:</label>
        <span class="pe-1">
          <input type="radio" id="lod" name="lod" value=1>
          <label for="lod">1</label>
        </span>
        <span class="pe-1">
          <input type="radio" id="lod" name="lod" value=2 checked>
          <label for="lod">2</label>
        </span>
        <span class="pe-1">
          <input type="radio" id="lod" name="lod" value=3>
          <label for="lod" class="pe-5">3</label>
        </span>
        <span class="pe-1">
          <input type="hidden" name="structure" value="{{ structure_name }}" />
          <label for="sectors">Sector:</label>
        </span>
        <span class="pe-1">
          <input type="radio" id="sectors" name="sectors" value="pow" checked>
          <label for="sectors">Power</label>
        </span>
        <span class="pe-1">
          <input type="radio" id="sectors" name="sectors" value="x2x">
          <label for="sectors">X2X</label>
        </span>
        <span class="pe-1">
          <input type="radio" id="sectors" name="sectors" value="hea">
          <label for="sectors">Heat</label>
        </span>
        <span class="pe-1">
          <input type="radio" id="sectors" name="sectors" value="ind">
          <label for="sectors">Industry</label>
        </span>
        <span class="pe-1">
          <input type="radio" id="sectors" name="sectors" value="tra">
          <label for="sectors" class="pe-5">Transport</label>
        </span>
      </form>
      <div class="aggregation__button">
        <span class="pe-2">
          Processes from all sectors for level of detail:
        </span>
        <button id="download_button" class="btn button button--secondary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
          </svg>
          <span class="ps-2">
            Download
          </span>
        </button>
      </div>
    </section>
    
    <section class="aggregation__graph">
      <div id="aggregation_graph" style="width: auto; height: 900px"></div>
      <div id="legend">
        <!-- Legend content will be dynamically inserted here -->
        </div>
    </section>

  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static "django_energysystem_viewer/libs/htmx.min.js" %}"></script>
  <script src="{% static 'vendors/cytoscape/js/cytoscape.min.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const cy = cytoscape({
            container: document.getElementById('aggregation_graph'),
            style: [
              { selector: 'node', style: {'label': 'data(id)', 'font-size': '100', 'width': '75', 'height': '75'} },
              { selector: '.aggregation_level_1', style: {'background-color': 'green'} },
              { selector: '.aggregation_level_2', style: {'background-color': 'blue'} },
              { selector: '.aggregation_level_3', style: {'background-color': 'red'} },
              { selector: '.collapsed', style: {'background-color': 'orange'} },
              { selector: '.aggregation_step_1', style: {'line-color': 'green'} },
              { selector: '.aggregation_step_2', style: {'line-color': 'blue'} },
              { selector: '.aggregation_step_3', style: {'line-color': 'red'} },
            ],
            elements: []
        });

        const aggregation_form = document.getElementById("aggregation_form");
        aggregation_form.addEventListener("change", updateAggregationGraph);

        function updateAggregationGraph() {
            console.log("Get aggregation data")
            const formData = new FormData(aggregation_form);
            const url = "/energysystem/aggregation_graph";

            // Append form data to URL
            const queryString = new URLSearchParams(formData).toString();
            var requestUrl = url + "?" + queryString;

            fetch(requestUrl)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data);
                    cy.elements().remove(); // Clear existing elements first
                    cy.add(data.elements);  // Add new nodes and edges
                    cy.layout({
                        name: 'preset',
                        fit: true
                    }).run();
                    cy.fit(); // This will automatically zoom out to fit all elements
                    cy.resize(); // This ensures the viewport is recalculated in case of container size changes
                })
                .catch(error => console.error('Error requesting aggregation data:', error));
        }

        const download_button = document.getElementById("download_button");
        download_button.addEventListener("click", function() {
            const formData = new FormData(aggregation_form);
            const url = "/energysystem/lod_list";

            // Append form data to URL
            const queryString = new URLSearchParams(formData).toString();
            var downloadUrl = url + "?" + queryString;

            window.location.href = downloadUrl;
            });
    });

    document.addEventListener("DOMContentLoaded", function() {
    const legendData = {
        'pow': [
            { text: 'renewable type', color: 'blue' },
            { text: 'fuel/potential type', color: 'green' }
        ],
        'x2x': [
            { text: 'technology type', color: 'green' }
        ],
        'hea': [
            { text: 'technology type', color: 'blue' },
            { text: 'building types', color: 'green' },
        ],
        'ind': [
            { text: 'process route', color: 'brown' }
        ],
        'tra': [
            { text: 'fuel type', color: 'red' },
            { text: 'vehicle size', color: 'blue' },
            { text: 'distance type', color: 'green' }
        ]
    };

    const sectorNames = {
        'pow': 'Power',
        'x2x': 'X2X',
        'hea': 'Heat',
        'ind': 'Industry',
        'tra': 'Transport'
    };

    const legendContainer = document.getElementById("legend");

    function updateLegend(sector) {
        const sectorFullName = sectorNames[sector];
        legendContainer.innerHTML = `<div class="pb-2">Aggregations ${sectorFullName} Sector:</div>`;
        legendData[sector].forEach(item => {
            legendContainer.innerHTML += 
            `<div class="d-flex align-items-center">
            <span style="margin-right: 0.5rem; height: 0.75rem; width: 0.75rem; border-radius: 0.75rem; background-color: ${item.color}"></span>
            <span style="color: ${item.color};">${item.text}</span>
            </div>`;
        });
    }

    const aggregation_form = document.getElementById("aggregation_form");
    aggregation_form.addEventListener("change", function() {
        const sector = document.querySelector('input[name="sectors"]:checked').value;
        updateLegend(sector);
        updateAggregationGraph();
    });

    // Initialize the legend with the default sector
    updateLegend(document.querySelector('input[name="sectors"]:checked').value);
});



  </script>
{% endblock javascript %}
