{% load partials %}

{% startpartial processes inline=True %}
<div id="artifact-processes">
  {% if processes %}
    <h3>Related processes:</h3>
    <ul>
      {% for process in processes %}
        <li>
          <a href="{% url 'django_energysystem_viewer:processes' collection_name=collection_name %}?process={{ process }}">{{ process }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endpartial %}
{% startpartial artifact_data inline=True %}
<div class="tab-pane fade show active"
     id="artifact-data"
     role="tabpanel"
     aria-labelledby="artifact-data-tab">
  {% if data %}
    {{ data | safe }}
  {% else %}
    Select artifact to show related data
  {% endif %}
</div>
<div class="tab-pane fade"
     id="artifact-metadata"
     role="tabpanel"
     aria-labelledby="artifact-metadata-tab">
  {% if metadata %}
    {{ metadata | safe }}
  {% else %}
    Select artifact to show related metadata
  {% endif %}
</div>
{% endpartial %}
