{% load partials %}

<h2 class="d-flex align-items-center">
  <svg width="32" height="32" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="67" cy="67" r="66" fill="#D7E1F4"/>
    <rect x="31.76" y="78.1571" width="22.3982" height="22.3982" stroke="black" stroke-width="8"/>
    <circle cx="87.7964" cy="44.5188" r="12.719" stroke="black" stroke-width="8"/>
    <path d="M87.4164 82.5416L88.1336 84.7489L89.0317 87.5129H91.9378H94.2588L92.3811 88.8771L90.03 90.5853L90.928 93.3492L91.6452 95.5566L89.7675 94.1924L87.4164 92.4842L85.0653 94.1924L83.1876 95.5566L83.9048 93.3492L84.8028 90.5853L82.4517 88.8771L80.574 87.5129H82.895H85.8011L86.6992 84.7489L87.4164 82.5416Z" stroke="black" stroke-width="8"/>
    <path d="M53.7782 55.3603L35 44.5187L53.7782 33.6771L53.7782 55.3603Z" stroke="black" stroke-width="8"/>
  </svg>
  <span class="ms-3">
    Artifact data
  </span>
</h2>
<div id="artifact-processes">
  {% if processes %}
    <h3>Related processes:</h3>
    <ul>
      {% for process in processes %}
        <li>
          <a href="{% url 'django_energysystem_viewer:processes' %}?collection={{ collection_name }}&structure={{ structure_name }}&process={{ process }}">{{ process }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<nav>
  <div class="nav nav-tabs" role="tablist">
    <button class="nav-link active"
            id="artifact-data-tab"
            data-bs-toggle="tab"
            data-bs-target="#artifact-data"
            type="button"
            role="tab"
            aria-controls="artifact-data"
            aria-selected="true">Data</button>
    <button class="nav-link"
            id="artifact-metadata-tab"
            data-bs-toggle="tab"
            data-bs-target="#artifact-metadata"
            type="button"
            role="tab"
            aria-controls="artifact-metadata"
            aria-selected="false">Metadata</button>
  </div>
</nav>
<div class="tab-content">
  <div class="tab-pane fade show active"
       id="artifact-data"
       role="tabpanel"
       aria-labelledby="artifact-data-tab">
    {% if data %}
      {{ data | safe }}
    {% else %}
    <div class="tab-content--empty">
      <svg width="48" height="48" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="17" y="79" width="36" height="36" stroke="#676C73" stroke-width="4"/>
        <circle cx="94" cy="38" r="20" stroke="#676C73" stroke-width="4"/>
        <path d="M93.5 77.4721L97.5475 89.9291L97.9965 91.3111H99.4496H112.548L101.951 99.0099L100.776 99.864L101.225 101.246L105.272 113.703L94.6756 106.004L93.5 105.15L92.3244 106.004L81.7279 113.703L85.7754 101.246L86.2245 99.864L85.0489 99.0099L74.4524 91.3111H87.5504H89.0035L89.4525 89.9291L93.5 77.4721Z" stroke="#676C73" stroke-width="4"/>
        <path d="M52.5 57.9186L18 38L52.5 18.0814L52.5 57.9186Z" stroke="#676C73" stroke-width="4"/>
      </svg>
      <span>
        Select artifact to show related data
      </span>
    </div>
    {% endif %}
  </div>
  <div class="tab-pane fade"
       id="artifact-metadata"
       role="tabpanel"
       aria-labelledby="artifact-metadata-tab">
    {% if metadata %}
      {{ metadata | safe }}
    {% else %}
    <div class="tab-content--empty">
      <svg width="48" height="48" viewBox="0 0 134 134" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="17" y="79" width="36" height="36" stroke="#676C73" stroke-width="4"/>
        <circle cx="94" cy="38" r="20" stroke="#676C73" stroke-width="4"/>
        <path d="M93.5 77.4721L97.5475 89.9291L97.9965 91.3111H99.4496H112.548L101.951 99.0099L100.776 99.864L101.225 101.246L105.272 113.703L94.6756 106.004L93.5 105.15L92.3244 106.004L81.7279 113.703L85.7754 101.246L86.2245 99.864L85.0489 99.0099L74.4524 91.3111H87.5504H89.0035L89.4525 89.9291L93.5 77.4721Z" stroke="#676C73" stroke-width="4"/>
        <path d="M52.5 57.9186L18 38L52.5 18.0814L52.5 57.9186Z" stroke="#676C73" stroke-width="4"/>
      </svg>
      <span>
        Select artifact to show related metadata
      </span>
    </div>
    {% endif %}
  </div>
</div>
