{% load partials %}

<h2>Artifact data</h2>
<div id="artifact-processes">
  {% if processes %}
    <h3>Related processes:</h3>
    <ul>
      {% for process in processes %}
        <li>
          <a href="{% url 'django_energysystem_viewer:processes' %}?collection={{ collection_name }}&structure={{ structure_name }}&process={{ process }}">{{ process }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<nav>
  <div class="nav nav-tabs" role="tablist">
    <button class="nav-link active"
            id="artifact-data-tab"
            data-bs-toggle="tab"
            data-bs-target="#artifact-data"
            type="button"
            role="tab"
            aria-controls="artifact-data"
            aria-selected="true">Data</button>
    <button class="nav-link"
            id="artifact-metadata-tab"
            data-bs-toggle="tab"
            data-bs-target="#artifact-metadata"
            type="button"
            role="tab"
            aria-controls="artifact-metadata"
            aria-selected="false">Metadata</button>
  </div>
</nav>
<div class="tab-content">
  <div class="tab-pane fade show active"
       id="artifact-data"
       role="tabpanel"
       aria-labelledby="artifact-data-tab">
    {% if data %}
      {{ data | safe }}
    {% else %}
      Select artifact to show related data
    {% endif %}
  </div>
  <div class="tab-pane fade"
       id="artifact-metadata"
       role="tabpanel"
       aria-labelledby="artifact-metadata-tab">
    {% if metadata %}
      {{ metadata | safe }}
    {% else %}
      Select artifact to show related metadata
    {% endif %}
  </div>
</div>
