{% extends "base.html" %}

{% block content %}
  <h1>Collections:</h1>
  <ul>
    {% for collection_name, collection_url in collections.items %}
      <li>
        {{ collection_name }} <a class="btn btn-primary" href="{{ collection_url }}">View collection</a> <a class="btn btn-primary"
    href="{% url 'django_energysystem_viewer:processes' collection_name=collection_name %}">View processes</a> <a class="btn btn-primary"
    href="{% url 'django_energysystem_viewer:artifacts' collection_name=collection_name %}">View artifacts</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
