{% extends "django_energysystem_viewer/base.html" %}
{% load static compress %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <!-- Network Graph Forms -->
        <div class="row">
          <h3>Network Graph</h3>
          <form hx-get="/energysystem/network_graph"
                hx-target="#network_graph"
                hx-trigger="change">
            <input type="hidden" name="structure" value="{{ structure_name }}" />
            <label for="mapping">Mapping:</label>
            <select id="mapping" name="mapping">
              <option label="fr" value="fr" selected></option>
              <option label="drl" value="drl"></option>
              <option label="kk" value="kk"></option>
              <option label="go" value="go"></option>
            </select>
            <br>
              <label for="nomenclature_level">Complexity:</label>
              <select id="nomenclature_level" name="nomenclature_level">
              <option label="full" value=20 selected></option>
              <option label="reduced" value=3></option>
              <option label="simplest" value=2></option>
            </select>
            <br>
            <label for="sectors">Sectors:</label>
            <select id="sectors" name="sectors" multiple>
              <option label="Power" value="pow" selected></option>
              <option label="X2X" value="x2x" selected></option>
              <option label="Industry" value="ind"></option>
              <option label="Transport" value="tra"></option>
              <option label="Heat" value="hea"></option>
              <option label="Helper" value="hel"></option>
            </select>
            <label for="seperate_join">Sectors separate or joined:</label>
            <br>
            <input type="radio" id="joined" name="seperate_join" value="agg" checked>
            <label for="joined">Aggregate Sectors</label>
            <br>
            <input type="radio" id="seperate" name="seperate_join" value="sep">
            <label for="seperate">Separate Sectors</label>
            <br>
            <div>You can choose to filter a specific process or a specific commodity.</div>
            <div id="proc_comm"
                 _="on input if #process.value add @disabled to #commodity else remove @disabled from #commodity end on input if #commodity.value add @disabled to #process else remove @disabled from #process">
              <label for="process">Choose specific process to display:</label>
              <input list="processes"
                     id="process"
                     name="process"
                     placeholder="Enter or select process...">
              <datalist id="processes">
                {% for process in unique_processes %}<option value="{{ process }}"></option>{% endfor %}
              </datalist>
              <label for="commodity">Choose specific commodity to display:</label>
              <input list="commodities"
                     id="commodity"
                     name="commodity"
                     placeholder="Enter or select commodity...">
              <datalist id="commodities">
                {% for commodity in unique_commodities %}<option value="{{ commodity }}"></option>{% endfor %}
              </datalist>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-8">
        <div id="network_graph" style="min-height: 500px;">
          <!-- Network Graph Will Be Loaded Here -->
        </div>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  <script src="{% static 'django_energysystem_viewer/libs/htmx.min.js' %}"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
{% endblock javascript %}