{% extends "django_energysystem_viewer/base.html" %}

{% load static %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <h1>Collection "{{ collection_name }}"</h1>
    <a class="btn btn-primary" href="{{ collection_url }}">View collection</a>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <ul>
            {% for process in processes %}
              <li>
                <button class="btn btn-link"
                        hx-get="/energysystem/process/{{ process }}/data?collection={{ collection_name }}"
                        hx-target="#process-detail">{{ process }}</button>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-8" id="process-detail">{% include "django_energysystem_viewer/process_detail.html" %}</div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static "django_energysystem_viewer/libs/htmx.min.js" %}"></script>
  <script src="{% static "vendors/jquery/jquery.min.js" %}"></script>
  <script src="{% static "vendors/datatables/dataTables.js" %}"></script>
  <script src="{% static "vendors/json-viewer/jquery.json-viewer.js" %}"></script>
  <script src="{% static "js/tables.js" %}"></script>
{% endblock javascript %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "vendors/datatables/dataTables.css" %}" />
  <link rel="stylesheet" href="{% static "vendors/json-viewer/jquery.json-viewer.css" %}" />
{% endblock css %}
