<h2>Process data</h2>
<div id="process-artifacts">
  {% if artifacts %}
    <h3>Related artifacts:</h3>
    <ul>
      {% for artifact in artifacts %}
        <li>
          <a href="{% url 'django_energysystem_viewer:artifacts' collection_name=banner_data %}?group={{ artifact.group }}&artifact={{ artifact.artifact }}">{{ artifact.artifact }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<nav>
  <div class="nav nav-tabs" role="tablist">
    <button class="nav-link active"
            id="process-scalars-tab"
            data-bs-toggle="tab"
            data-bs-target="#process-scalars"
            type="button"
            role="tab"
            aria-controls="process-scalars"
            aria-selected="true">Scalars</button>
    <button class="nav-link"
            id="process-timeseries-tab"
            data-bs-toggle="tab"
            data-bs-target="#process-timeseries"
            type="button"
            role="tab"
            aria-controls="process-timeseries"
            aria-selected="false">Timeseries</button>
  </div>
</nav>
<div class="tab-content">
  <div class="tab-pane fade show active"
       id="process-scalars"
       role="tabpanel"
       aria-labelledby="process-scalars-tab">
    {% if scalars %}
      {{ scalars | safe }}
    {% else %}
      Select process to show related scalar data
    {% endif %}
  </div>
  <div class="tab-pane fade"
       id="process-timeseries"
       role="tabpanel"
       aria-labelledby="process-timeseries-tab">
    {% if timeseries %}
      {{ timeseries | safe }}
    {% else %}
      Select process to show related timeseries data
    {% endif %}
  </div>
</div>
