{% extends "base.html" %}

{% block content %}
  <h1>Selections:</h1>
  <form method="get">
    {% csrf_token %}
    <div>
      <label for="structures">Structure</label>
      <select class="form-select" id="structures" name="structures">
        {% for structure in structure_list %}<option label="{{ structure }}">{{ structure }}</option>{% endfor %}
      </select>
    </div>
    <div>
      <label for="collections">Collection</label>
      <select class="form-select" id="collections" name="collections">
        {% for collection in collection_list %}<option label="{{ collection }}">{{ collection }}</option>{% endfor %}
      </select>
    </div>
    <div>
      <button class="btn btn-primary"
              type="submit"
              formaction="{% url 'django_energysystem_viewer:abbreviations' %}">Look at Abbreviation</button>
      <button class="btn btn-primary"
              type="submit"
              formaction="{% url 'django_energysystem_viewer:aggregations' %}">Look at Aggregation</button>
      <button class="btn btn-primary"
              type="submit"
              formaction="{% url 'django_energysystem_viewer:networks' %}">Look at Network</button>
      <button class="btn btn-primary"
              type="submit"
              formaction="{% url 'django_energysystem_viewer:processes' %}">Look at Processes</button>
      <button class="btn btn-primary"
              type="submit"
              formaction="{% url 'django_energysystem_viewer:artifacts' %}">Look at Artifacts</button>
    </div>
  </form>
{% endblock content %}
